.clear-button {
    /* border: 1px solid green; */
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4rem;
    background-color: #e0e1e6;
    color: #000000;
    flex: 1;
    outline: 1px solid #888888;
}