.data-input {
    /* border: 1px solid green; */
    height: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgb(150, 144, 144);
    color: #ffffff;
    padding: 0.5rem;
    outline: 1px solid #888888;
}