body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, rgb(127, 209, 241), rgb(17, 169, 229));
}

.calculator-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid blue; */
}

.calculator-app h1 {
  color: rgb(58, 56, 56);
}

.calculator-container {
  width: 25rem;
  box-shadow: 0 0 1.5rem -0.5rem rgba(0, 0, 0, 0.75);
}

.row {
  /* border: 1px solid red; */
  display: flex;
}

.last-row {
  /* border: 1px solid yellow; */
  display: flex;
}

.last-column {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .calculator-container {
    width: 80%;
  }

  .calculator-app h1 {
    font-size: 1.5rem;
  }
}
